<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">

  <script>
      var currentUserId = <%= @current_user_id %>
  </script>
</head>


<body>
<h1 style="color: #ffa31a; font-family:Ubuntu;" align="center">Learn A New Skill</h1>
<%= form_tag skills_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<hr>

<% @skills.each do |skill| %>
  <div class="container">
    <div class="card" style="background-color: white; border-radius: 25px; height: 250px; padding-left: 0px; overflow: hidden; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); margin-bottom: 50px">
      <div class="row">
        <div class="col-sm-4" align='left'>
            <%if skill.avatar.url%>
              <%= image_tag skill.avatar.normal.url %>      
            <%else%>
              <%= image_tag("/images/generic_skill.jpg") %>
            <%end%>
        </div>
        <div class='col-sm-4'>
          <div class="front"><h4><%= skill.title %></h4><br/><%= simple_format(skill.description) %><br/>
          </div>
          <div class="back invisible">            
            <h3 class="text-center" style="color: #ffa31a; font-family:Ubuntu;">Request a Lesson Time</h3>
            <%= render 'new_lesson_form', lesson: @lesson, skill: skill if current_user %>
          </div>

          <div class="chat invisible">            
            <h3 class="text-center" style="color: #ffa31a; font-family:Ubuntu;">Send a Message</h3>
            <p>"Hello. I am interested in requesting a lesson."</p>
                    <button
            id='chat-<%= skill.id %>'
            data-title='<%= skill.title %>'
            data-skill-id='<%= skill.id %>'
            data-teacher-id='<%= skill.teacher_id %>'
            data-behavior='skill-chat'>Send Standard Message</button>
            <br><br>
            <%= link_to "Open Chat Room", hello_world_path(teacher_id: skill.teacher_id),
                :class => "request-chat btn" %>
          </div>
          <br><br>
        </div>

        <div class="col-sm-4"> 
          <br>
          <div class="star-rating" data-score= '<%= skill.average_rating %>' ></div>
          <br><br>
          <%= button_to "View Full Details", skill,
                :class => "view-skill btn", :method => :get %>
          <%if current_user%>
            <%= button_tag "Request a Lesson", :class => "request-lesson btn" %><br>
          <%else%>
            <%= button_to "Request a Lesson", skills_path, :class => "request-lesson btn" %>
          <%end%>
          <%= button_tag "Chat with Teacher", :class => "request-chat btn" %><br>
                    
        </div>
      </div> 
    </div>
  </div>
<% end %>
<hr>
    <%= form_tag skills_path, method: :get do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", name: nil %>
    <% end %><br> 

<br>
<div align="center">
<h3 ><%= link_to 'Create A New Skill', new_skill_path, {style: "color: #ffa31a"}%></h3>
</div><br><br><br><br><br><br><br><br>

</body>


<script>
  $(document).ready(function(){
      $(".back").each(function() {
              $(this).hide();
      });
      $(".chat").each(function() {
              $(this).hide();
      });
      $(".request-lesson").click(function(){
          $(this).parent().parent().find('.front').fadeOut(function(){
            $(this).parent().find('.chat').hide()
            $(this).parent().find('.back').removeClass('invisible')
            $(this).parent().find('.back').fadeIn()
          })
          $(this).parent().parent().mouseleave(function(){
            $(this).find('.chat').hide()
            $(this).find('.back').fadeOut(function(){
              $(this).parent().find('.front').fadeIn()
            })
          })
      });
      $(".request-chat").click(function(){
          $(this).parent().parent().find('.front').fadeOut(function(){
            $(this).parent().find('.back').hide()
            $(this).parent().find('.chat').removeClass('invisible')
            $(this).parent().find('.chat').fadeIn()
          })
          $(this).parent().parent().mouseleave(function(){
            $(this).find('.back').hide()
            $(this).find('.chat').fadeOut(function(){
              $(this).parent().find('.front').fadeIn()
            })
          })
      });
      $('.star-rating').raty({
          path: '/assets/',
          readOnly: true,
          score: function() {
                return $(this).attr('data-score');
        }
      });
  });
</script>

