<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script>
      var currentUserId = <%= @current_user_id %>
  </script>
</head>

<br><br>
<body style="background-color: #6396e8;">
<h1 style="color: #ffa31a; font-family:Ubuntu;" align="center">List of Skills</h1><br><br>

<%= form_tag skills_path, method: :get do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search", name: nil %>
<% end %>

<% @skills.each do |skill| %>
  <div class="container">
    <div class="card" style="background-color: white; border-radius: 25px; height: 250px; padding-left: 0px; overflow: hidden; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); margin-bottom: 50px">
      <div class="front row">
        <div class="col-sm-4" align='left'>
            <%if skill.avatar.url%>
              <%= image_tag skill.avatar.normal.url %>      
            <%else%>
              <%= image_tag("/images/generic_skill.jpg") %>
            <%end%>
        </div>
        <div class="col-sm-4"><h5><%= skill.title %></h5><br/><%= skill.description %><br/>
        </div>
        <div class="col-sm-4"><%= link_to 'View', skill %> <%= link_to 'Edit', edit_skill_path(skill) if current_user == skill.teacher %> <%= link_to 'Delete', skill, method: :delete, data: { confirm: 'Are you sure?' } if current_user == skill.teacher %>
          <button id='Request' class='btn' style='background-color: orange; color: white'>Request a Lesson</button>
          <button
            id='chat-<%= skill.id %>'
            data-title='<%= skill.title %>'
            data-skill-id='<%= skill.id %>'
            data-teacher-id='<%= skill.teacher_id %>'
            data-behavior='skill-chat'>Chat</button>
        </div>
      </div> 
    </div>
  </div>
<% end %>

<br>
<div align="center">
<h3><%= link_to 'New Skill', new_skill_path %></h3>
</div><br><br><br><br>

</body>

