
<br><br><br><br>

<head>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
</head>

<body style="background-color: #6396e8;">

<h1 style="color: #ffa31a; font-family:Ubuntu;">My Skills</h1>

<table>
  <thead>
    <tr >
      <th style="padding: 0px 25px 0px 25px;">Skill Image</th>
      <th style="padding: 0px 25px 0px 25px;">Title</th>
      <th style="padding: 0px 25px 0px 25px;">Description</th>

      <th></th>
    </tr>
  </thead>
  <br><br>

  <tbody>
    <% @skills.each do |skill| %>
      <tr>
        <td style="padding: 0px 25px 0px 25px;"><%= image_tag skill.avatar.thumb.url if skill.avatar.url %></td>
        <td style="padding: 0px 25px 0px 25px;"><%= skill.title %></td>
        <td style="padding: 0px 25px 0px 25px;"><%= skill.description %></td>
        <td style="padding: 0px 25px 0px 25px;"><%= link_to 'View', skill %></td>
        <td style="padding: 0px 25px 0px 25px;"><%= link_to 'Edit', edit_skill_path(skill) if current_user == skill.teacher %></td>
        <td style="padding: 0px 25px 0px 25px;"><%= link_to 'Delete', skill, method: :delete, data: { confirm: 'Are you sure?' } if current_user == skill.teacher %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div style=" font-size: medium">
  <%= link_to 'Add A New Skill', new_skill_path, {style: "color: #ffa31a "} %>
</div>

</body>
