<head><link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"></head>



<div align="center">
  <h1 style="color: #ffa31a; font-family:Ubuntu;"><%= @skill.title %></h1><br>
  <%= image_tag @skill.avatar.thumb.url if @skill.avatar.url %>
  <br><br>
  <div>Teacher: </div>
  <div><%= @teacher.first_name %></div> <br>

  <div>Description: </div>
  <div><%= @skill.description %></div><br>

  <h3>
    <%= link_to 'Request a Lesson', new_lesson_path(skill: @skill) %><br><br>
  </h3>
  <%= link_to 'Edit Skill', edit_skill_path(@skill) if current_user == @teacher %> |
  <%= link_to 'Go Back', skills_path %> <br>

  <h3>
    Student Reviews
  </h3>
  <%@reviewed_lessons.each do |lesson|%>
    <div>Student: <%= lesson.student.first_name %></div> 

    <div>Lesson Date: <%= lesson.start_time %></div> 

    <div>Review: </div>
    <div><%= lesson.student_rating_teacher %> Stars</div>
    <div><%= lesson.student_reviewing_teacher %></div> <br/>
  <%end%>


</div>
