
<script>
  var currentUserId = <%= @current_user_id %>;
</script>
<div align="center">
To teach or to learn? That is the question. <br/><br/>

<%if @requested_lessons.count > 0%>
You have <%= @requested_lessons.count %> requested lessons <br/>
  <%@requested_lessons.each do |lesson|%>
    start time: <%=lesson.start_time%> <br/>
    hours: <%=lesson.hours%> <br/>
    student: <%=lesson.student.first_name%> <%=lesson.student.last_name%>
    <%=link_to 'View Lesson', lesson_path(lesson)%> <br/>
  <%end%>
  <%end%>

 <% if current_user.avatar.url %>
 	
 	<%= image_tag current_user.avatar.normal.url %>
<%end%>

        <small>Welcome to SkillEx, <%= current_user.first_name %>! </small>

</div>
