<%= form_for(lesson, url: add_rating_path) do |f| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="label" >
    Skill:
    <%= @skill.title %>
  </div>

  <div class="label">
    Teacher:
    <%= @skill.teacher.first_name %> <%= @skill.teacher.last_name %>
  </div> 

  <div class="label">
    Student:
    <%= lesson.student.first_name %> <%= lesson.student.last_name %>
  </div> 

  <div class="label">
    Start Time:
    <%= lesson.start_time %>
  </div> 

  <div class="label">
   Hours:
    <%= lesson.hours %>
  </div>

  <div id="user_star"></div> <br>

  <%= hidden_field_tag 'skill', @skill.id %>
  <br>

  <div class="actions">
    <%= f.submit class: 'btn request-lesson' %>
  </div> <br>

  <div class="field" >

    <%= f.text_area :review, cols: 50, value: current_user == lesson.teacher ? lesson.teacher_reviewing_student : lesson.student_reviewing_teacher %>
    <%= f.label("Text Review (optional)") %>

  </div>
<% end %>

<script>
  $('#user_star').raty({
    score: <%= current_user == @lesson.teacher ? (@lesson.teacher_rating_student ||= 0) : (@lesson.student_rating_teacher ||= 0 ) %>,
    path: '/assets/large',
    click: function(score, evt) {
      $("#rating_field").val(score);
    }
  });
</script>

