
<head><link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"></head>

<p id="notice"><%= notice %></p>

<h1 class="text-center" style="color: #ffa31a; font-family:Ubuntu;">All Lessons</h1>  

<div class="text-center">
<table align="center" style="width:80%">
  <thead>
    <tr style="color:#6396e8" >

      <th>Skill</th>
      <th>Teacher</th>
      <th>Student</th>
      <th>Start Time</th>
      <th>Requested At</th>
      <th>Confirmed At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr style="color:#6396e8">
        <td><%= lesson.skill %></td>
        <td><%= lesson.teacher %></td>
        <td><%= lesson.student %></td>
        <td><%= lesson.start_time.strftime("%A, %d %b %Y %l:%M %p") %></td>
        <td><%= lesson.requested_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
        <td><%= lesson.confirmed_at.strftime("%A, %d %b %Y %l:%M %p") %></td>
        <td><%= link_to 'Details', lesson, {style: "color: #6396e8"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>






</div>
