
<head><link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet"></head>

<p id="notice"><%= notice %></p>

<h1 class="text-center" style="color:#6396e8" font-family:Ubuntu;"><em>All Lessons</em></h1>

<div class="text-center">
<table align="center" style="width:80%">
  <thead>
    <tr style="color:#6396e8" >
      
      <th>Skill</th>
      <th>Teacher</th>
      <th>Student</th>
      <th>Requested At</th>
      <th>Confirmed At</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr style="color:#6396e8">
        
        <td><%= lesson.skill %></td>
        <td><%= lesson.teacher %></td>
        <td><%= lesson.student %></td>
        <td><%= lesson.requested_at %></td>
        <td><%= lesson.confirmed_at %></td>
        <td><%= link_to 'Lesson Details', lesson, {style: "color: #6396e8"} %></td>
        <td><%= link_to 'Edit Lesson', edit_lesson_path(lesson), {style: "color: #6396e8"} %></td>
        <!-- <td><%= link_to 'Delete Lesson', lesson, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<h3><%= link_to 'New Lesson', new_lesson_path, {style: "color: #6396e8"} %></h3>



</div>
