<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

      <a class="navbar-brand"><%= link_to(image_tag("SkillexIcon"), root_path) %><a href="/" style='color:black'>SkillEx</a></a>
   
      

    </div>


    <ul class='nav navbar-nav navbar-right'>
      <%= form_tag skills_path, method: :get do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", name: nil %>
      <% end %>
      
      <% if current_user && current_user.avatar.url %>
        <%= link_to(image_tag(current_user.avatar.mini.url), edit_user_registration_path) %>
      <%else%>
       <%= link_to(image_tag("generic_nav.jpeg"), edit_user_registration_path) %>
      <%end%>

      <% if current_user %>
        <li>You have: <%= current_user.points %> <%= current_user.points == 1 ? 'Point' : 'Points' %></li>
        <li><%= link_to 'All Skills', skills_path %></li>
        <li><%= link_to 'My Skills', my_skills_path %></li>
        <li><%= link_to 'My Upcoming Lessons', upcoming_lessons_path %></li>
        <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Register', new_user_registration_path %></li>
        <li><%= link_to 'Login', new_user_session_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
