<!DOCTYPE html>
<html>
  <head>
    <title>SkillEx</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    <!-- https://bootswatch.com/simplex/ -->
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css' />
    <style href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'></style>
  </head>

  <body>
    <nav>
      <%= render 'layouts/header' %>
      <% if current_user %>
        <p>Welcome, <%= current_user.first_name %>! You have: <%= current_user.points %> <%= current_user.points == 1 ? 'Point' : 'Points' %></p>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Register', new_user_registration_path %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </nav>
    <div class='container'>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
